<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>tally.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>62B42A2D1574DEE195945AF1DCB2EBE04F1FFCA3</string>
				<key>dateExpires</key>
				<string>27/11/26</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>0.12.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>62B42A2D1574DEE195945AF1DCB2EBE04F1FFCA3</string>
						<key>dateExpires</key>
						<string>27/11/26</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>hermes.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7S5RJ2Y38B</string>
						<key>name</key>
						<string>Alcodes Mobility Private Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>0.12.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>7S5RJ2Y38B.com.marruji.tallydekhoMobileapp2</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>7S5RJ2Y38B</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>tally.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>c4870a26-b60f-4057-a478-0084ca9e5c06</string>
				<key>dateExpires</key>
				<string>27/11/26</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: com.marruji.tallydekhoMobileapp2</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>7S5RJ2Y38B</string>
				<key>name</key>
				<string>Alcodes Mobility Private Limited</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
